@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    body{
        background-image: linear-gradient(-225deg, #FFFEFF 0%, #D7FFFE 100%);
    }
    .nav-border{
       
        transition: color .3s;
    }

    .nav-border::after{
        content: '';
        display: block;
        width: 0;
        height: 2px;
        background: #0e402d;
        transition: width .3s;
    }
    .nav-border:hover::after{
        width: 100%;
    }
    .svga{
        width: 100%;
    }
    .svg-defs {
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 0;
        overflow: hidden;
    }
    .posabs{
        position: relative;
        text-align: center;
        margin: 0 auto;
        width: 100%;
        max-width: 1600px;
    }
    .pos-relative {
        position: relative;
    }
    .pos-absolute {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
        width: 100%;
        max-width: 1600px;
    }
    .text {
        font-size: 120px;
        font-family: '';
        line-height: 1;
    }

  
}